data/csv/s2_full_figures_oa_nonroco_combined_medical_top4_public.csv
data/json
images/
resized_images/
grayscale_images/
normalized_images/
data/csv/image_uri_and_captions.csv
data/csv/image_uri_and_captions_100.csv
text_processing/token_encoding.ipynb
data/pkl/values_extractor.ipynb
data/text 
data/image_features
values.md
vocab_size.txt
data/encoded_captions/
# model/model.ipynb
normalized_images/
resized_images/
image_preprocessing/
data/padded_captions/
data/tagets/
data/word_index/
model/input_layer_analysis.ipynb
model/targets.ipynb
ergasia-eksaminou.md
data/caption_features/caption_features.pkl
guide-2.md