# Auto detect text files and perform LF normalization
* text=auto
*.png filter=lfs diff=lfs merge=lfs -text
# Auto detect files npy and perform LF normalization
* text=auto
*.npy filter=lfs diff=lfs merge=lfs -text
# Auto detect pkl files and perform LF normalization
* text=auto
*.pkl filter=lfs diff=lfs merge=lfs -text
