images/
data/json/
data/csv/s2_full_figures_oa_nonroco_combined_medical_top4_public.csv
data/csv/dataset.csv
data/csv/dataset_clean.csv
data/image_features/features.pkl
data/caption_features/caption_features.pkl
